{% extends 'base.html.twig' %}
{% trans_default_domain 'chat' %}

{% block javascripts %}
    <script>
        window.reactProps = {
            initialPath: '{{ url('chat_get_initial') }}',
            sendPath : '{{ url('chat_add') }}',
            user : {
                userName: '{{ user.username }}',
                userRole: '{{ user.getChatRoleAsText }}',
                userId: {{ user.id }},
            },
            channel: {{ channel }},
            privateChannelId: {{ privateChannelId }},
            privateMessageChannelId: {{ privateMessageChannelId }},
            botId : {{ botId }},
            languagePath : {
                pl: '{{ url("homepage", {"_locale" : "pl"}) }}',
                en: '{{ url("homepage", {"_locale" : "en"}) }}',
            },
            locale : '{{ locale }}',
            messageSounds : {
                newMessageSound: '{{ asset('sound/sound_1.mp3') }}',
                sendMessageSound: '{{ asset('sound/sound_2.mp3') }}'
            }
        };
        {#var  = '{{ asset('sound/sound_1.mp3') }}';#}
        {#var  = '{{ asset('sound/sound_2.mp3') }}';#}
    </script>
{#    <script type="text/javascript" src="{{ asset('js/' ~ locale ~ '.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ asset('js/emojionearea.min.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ asset('js/jquery.scrollTo.js') }}"></script>#}
    {% if is_granted('ROLE_MODERATOR') %}
        <script>
            var deletePath = '{{ url('chat_delete') }}';
        </script>
        <script type="text/javascript" src="{{ asset('js/delete.js') }}"></script>
    {% endif %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/black.css') }}">
{#    <link rel="stylesheet" href="{{ asset('css/emojionearea.min.css') }}">#}
{% endblock %}

{% block content %}
    <div id="root"></div>
{#    <div class="youtube-video">#}
{#        <span class="close">&times;</span>#}
{#        <iframe class="youtube-video-iframe"></iframe>#}
{#    </div> TODO#}
    {{ encore_entry_script_tags('chat') }}
{% endblock %}
